[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Traceability
Comment=
Exec=sudo python /home/omegadata/Traceability.py
Icon=/home/omegadata/storage/images/logo.png
StartupNotify=false
Terminal=true
Hidden=false
